/* Var */

$fontMonserrat: 'Montserrat',
sans-serif;
$fontRoboto: 'Roboto',
sans-serif;

/* Style General */

h1 {
    font-family: $fontMonserrat;
    font-size: 25px;
    color: #572EE5;
    text-align: center;
    line-height: 33px;
    font-weight: 700;
}

h2 {
    font-family: $fontMonserrat;
    color: #572EE5;
    text-align: center;
    line-height: 30px;
    font-weight: 700;
}

p {
    font-family: $fontRoboto;
    color: #000000;
    text-align: center;
    line-height: 23px;
    font-weight: 400;
}

a {
    font-family: $fontMonserrat;
    text-align: center;
    line-height: 60px;
}

.edgePage {
    background: #572EE5;
    width: 375px;
    height: 5px;
    position: relative;
}

.buttonGeneral {
    width: 127px;
    height: 50px;
    border: 1px #572EE5 solid;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    outline: none !important;
    a {
        /*   font-family: Montserrat-Bold; */
        font-size: 13px;
        color: #572EE5;
        letter-spacing: 0;
        text-align: center;
        text-decoration: none;
    }
}

.buttonGeneral:hover {
    background: #572EE5;
    color: #ffffff;
}

.imagesGeneral {
    margin: 46px 21px 78px 21px;
    display: grid;
    grid-template-columns: 156px 156px;
    grid-template-rows: repeat(6, 120px);
    gap: 25px 21px;
    img {
        width: 156px;
        height: 120px;
    }
}

.iconsHover {
    width: 375px;
    display: none;
    .containerImg {
        position: relative;
        .icon {
            width: 17px;
            height: 17px;
            padding: 10px;
            position: absolute;
            background: #FFFFFF;
            border-radius: 6px;
            z-index: 10;
            display: none;
        }
        .icon:hover {
            opacity: 0.7;
            background: #c0c0c0;
            border-radius: 6px;
        }
        .pUser,
        .pTitle {
            display: none;
            position: absolute;
            color: #FFFFFF;
        }
    }
    .imgHover:hover {
        background-color: #572EE5;
        img:nth-child(1) {
            opacity: 0.3;
            background-color: #572EE5;
        }
        .imgFavorite {
            top: 10px;
            right: 95px;
            display: block;
        }
        .imgFavorite:active {
            content: url(/img/icon-fav-active.svg);
        }
        .imgDownload {
            top: 10px;
            right: 52px;
            display: block;
        }
        .imgFullSize {
            top: 10px;
            right: 10px;
            display: block;
        }
        .pUser {
            top: 121px;
            left: 12px;
            display: block;
            font-size: 15px;
            font-weight: 400;
            text-align: left;
        }
        .pTitle {
            top: 143px;
            left: 12px;
            display: block;
            font-size: 16px;
            font-weight: 700;
            text-align: left;
        }
    }
}

@media only screen and (min-width: 376px) {
    .edgePage {
        width: 1440px;
    }
    .imagesGeneral {
        margin: 36px 156px 78px 157px;
        display: grid;
        grid-template-columns: repeat(4, 260px);
        grid-template-rows: repeat(3, 200px);
        gap: 29px 29px;
        img {
            width: 260px;
            height: 200px;
        }
    }
}