body {
    margin: 0;
    padding: 0;
}

header {
    width: 375px;
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        padding: 10px;
    }
}

nav {
    .containerBurger {
        padding: 10px 20px;
        font-size: 30px;
    }
    ul {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100vh;
        margin: 0 auto;
        padding: 0;
        display: none;
        background: rgba(87, 46, 229, 0.90);
        li {
            list-style: none;
            padding: 30px 0;
            text-align: center;
            a {
                text-decoration: none;
                color: #ffffff;
                font-size: 15px;
                font-weight: 700;
            }
        }
        li:hover {
            background: rgb(185, 228, 225);
        }
    }
}

.active {
    display: block;
}

.hiddenCreateGifos {
    display: none;
}

.createGifo {
    display: none;
}

@media (min-width:376px) {
    header {
        width: 1440px;
        height: 90px;
        display: flex;
        justify-content: left;
        .logo {
            margin: 0 40% 0 10%;
            line-height: unset;
        }
    }
    nav {
        .containerBurger {
            display: none;
        }
        ul {
            position: unset;
            height: auto;
            display: inline-block;
            background: unset;
            li {
                list-style: none;
                display: inline-block;
                margin-right: 45px;
                a {
                    font-size: 13px;
                    color: #572EE5;
                    font-weight: 700;
                }
            }
            li:hover {
                background: rgb(185, 228, 225);
            }
        }
    }
    .hiddenCreateGifos {
        display: block;
    }
    .createGifo {
        display: block;
        border: 1px solid #572EE5;
        border-radius: 50%;
    }
}