.search {
    width: 375px;
    height: 504px;
    /* 470px */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    h1 {
        width: 286px;
        height: 99px;
        span:nth-child(2) {
            color: #50E3C2;
        }
    }
    img {
        width: 273px;
        height: 130px;
        padding: 0;
    }
    input {
        width: 334px;
        height: 50px;
        padding: 0;
    }
    input::placeholder {
        text-align: center;
        font-family: $fontRoboto;
        font-weight: 400;
        font-size: 16px;
    }
    .contentSearch {
        text-align: center;
    }
    h2 {
        width: 236px;
        height: 25px;
        font-size: 16px;
    }
    p {
        width: 225px;
        height: 50px;
        font-size: 14px;
        line-height: 25px;
        font-weight: 500;
        color: #572EE5;
        span::before {
            content: '\A';
            white-space: pre;
        }
    }
}

.pets {
    width: 375px;
    height: 1120px;
}

@media only screen and (min-width: 376px) {
    .search {
        width: 1440px;
        height: 665px;
        /* display: block;
        text-align: center; */
        justify-content: center;
        h1 {
            width: 934px;
            height: 100px;
            font-size: 35px;
            line-height: 50px;
            span:nth-of-type(1)::before {
                content: '\A';
                white-space: pre;
            }
        }
        .contentSearch {
            /* height: 390px; */
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                width: 399px;
                height: 190px;
            }
            input {
                width: 551px;
                height: 50px;
                /* height: 200px; */
            }
        }
        h2 {
            font-size: 18px;
            line-height: 25px;
        }
        p {
            width: 402px;
            height: 25px;
            font-size: 16px;
            line-height: 25px;
            font-weight: 500;
            span::before {
                content: '';
            }
        }
    }
    .pets {
        display: none;
        width: 1440px;
        height: 956px;
        h1 {
            margin: auto;
            width: 550px;
            height: 30px;
        }
    }
}