.search {
    width: 375px;
    height: 504px;
    /* 470px */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    h1 {
        width: 286px;
        height: 99px;
        span:nth-child(2) {
            color: #50E3C2;
        }
    }
    img {
        width: 273px;
        height: 130px;
        padding: 0;
    }
    .buttonSearch {
        background: #FFFFFF;
        border: 1px solid #572EE5;
        border-radius: 27px;
        padding: 1px 2px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 334px;
        .containerInpImg {
            display: flex;
            input {
                width: 277px;
                height: 50px;
                padding: 0 0 0 20px;
                border: none;
                border-radius: 27px;
            }
            input::placeholder {
                text-align: center;
                font-family: $fontRoboto;
                font-weight: 400;
                font-size: 16px;
            }
            input:focus {
                outline: none !important;
            }
            button {
                border: none;
                border-radius: 27px;
                background-color: #FFFFFF;
                img {
                    height: 20px;
                    width: 20px;
                }
            }
            button:focus {
                outline: none;
            }
            button:hover {
                cursor: pointer;
            }
            .btnCloseHidden {
                display: none;
            }
        }
        ul {
            display: none;
        }
    }
    .contentSearch {
        text-align: center;
    }
    h2 {
        width: 236px;
        height: 25px;
        font-size: 16px;
    }
    p {
        width: 225px;
        height: 50px;
        font-size: 14px;
        line-height: 25px;
        font-weight: 500;
        color: #572EE5;
        span::before {
            content: '\A';
            white-space: pre;
        }
    }
}

.orderInpImg {
    #btnSearch {
        display: none;
    }
}

.hiddenTitleImg {
    height: 100px;
    #familySearch,
    #titleSearch {
        display: none;
    }
}

.styleNoFound {
    width: 1440px;
    height: 576px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.styleFullScreen {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 11;
    .styleClose {
        width: 20px;
        height: 20px;
        position: relative;
        left: 20%;
    }
    .styleImgDirection {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }
    .styleDivDescription {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
    }
    .styleDivText {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 21px;
        p:nth-child(1) {
            font-weight: bold;
            margin-bottom: 0;
        }
        p:nth-child(2) {
            margin-top: 0;
        }
    }
    .imgFavorite,
    .imgDownload {
        width: 20px;
        height: 20px;
        padding: 9px;
        border: 1px solid #CED7E1;
        border-radius: 6px;
        margin-right: 21px;
    }
    .imgFavorite:hover,
    .imgDownload:hover {
        opacity: 0.7;
        background: #c0c0c0;
        border-radius: 6px;
    }
}

@media only screen and (min-width: 376px) {
    .search {
        width: 1440px;
        height: 665px;
        /* display: block;
        text-align: center; */
        justify-content: center;
        h1 {
            width: 934px;
            height: 100px;
            font-size: 35px;
            line-height: 50px;
            span:nth-of-type(1)::before {
                content: '\A';
                white-space: pre;
            }
        }
        .contentSearch {
            /* height: 390px; */
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                width: 399px;
                height: 190px;
            }
            .buttonSearch {
                width: 560px;
                display: flex;
                flex-direction: column;
                .containerInpImg {
                    border-radius: 32px;
                    input {
                        width: 500px;
                    }
                }
                ul {
                    list-style-image: url('../img/icon-search.svg');
                }
                .ulShow {
                    display: block;
                    text-align: start;
                    color: #9CAFC3;
                    width: 531px;
                    font-family: $fontRoboto;
                    font-size: 16px;
                    cursor: pointer;
                }
                .orderInpImg {
                    input {
                        order: 2;
                        width: 460px;
                    }
                    #btnSearch {
                        display: block;
                        order: 1;
                    }
                    #btnClose {
                        order: 3;
                    }
                }
            }
        }
        h2 {
            font-size: 18px;
            line-height: 25px;
        }
        p {
            width: 402px;
            height: 25px;
            font-size: 16px;
            line-height: 25px;
            font-weight: 500;
            span::before {
                content: '';
            }
        }
    }
    .pets {
        width: 1440px;
        h2 {
            margin: auto;
            width: 550px;
            height: 30px;
        }
    }
    .hiddenTitleImg {
        height: auto;
        #familySearch,
        #titleSearch {
            display: block;
        }
    }
}