.myGifos {
    width: 375px;
    height: 860px;
    text-align: center;
    .iconGifos {
        width: 23px;
        height: 21px;
    }
    .imagesGeneral {
        grid-template-rows: repeat(4, 120px);
    }
    h2 {
        width: 375px;
        height: 30px;
    }
}

@media only screen and (min-width: 376px) {
    .myGifos {
        width: 1440px;
        height: 748px;
        .iconGifos {
            width: 24px;
            height: 21.9px;
        }
        h2 {
            width: 550px;
            height: 30px;
            margin: auto;
        }
        .imagesGeneral {
            grid-template-rows: repeat(2, 200px);
        }
    }
}