.trending {
    width: 375px;
    height: 430px;
    background: #F3F5F8;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    h2 {
        width: 375px;
        height: 30px;
        font-size: 20px;
        line-height: 30px;
        font-weight: 700;
    }
    p {
        width: 333px;
        height: 46px;
        font-size: 16px;
        line-height: 23px;
        font-weight: 400;
        font-family: $fontRoboto;
        font-size: 16px;
        span {
            display: block;
        }
    }
    .imgTrending {
        width: 342px;
        overflow: hidden;
        display: grid;
        grid-template-columns: 243px 243px 243px;
        grid-template-rows: 187px;
        gap: 22px;
        margin-left: 32px;
        img {
            width: 243px;
            height: 187px;
        }
    }
    .containerCarouselTrending {
        display: flex;
    }
    .btnBack,
    .btnNext {
        display: block;
        position: absolute;
        height: 187px;
        z-index: 1;
        opacity: 0;
    }
    .btnBack {
        left: 0px;
    }
    .btnNext {
        right: 0px;
    }
}

@media only screen and (min-width: 376px) {
    .trending {
        width: 1440px;
        height: 640px;
        background: #F3F5F8;
        justify-content: center;
        h2 {
            width: 550px;
            height: 30px;
            font-size: 25px;
        }
        p {
            width: 360px;
            height: 21px;
            font-size: 18px;
            span {
                display: inline-block;
            }
        }
        .imgTrending {
            width: 1215px;
            display: grid;
            grid-template-columns: 357px 357px 357px;
            grid-template-rows: 275px;
            gap: 29px;
            justify-content: center;
            margin-top: 53px;
            margin-left: 0px;
            img {
                width: 357px;
                height: 275px;
                float: initial;
            }
        }
        .containerCarouselTrending {
            width: 1440px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .btnBack,
            .btnNext {
                display: block;
                width: 24px;
                height: 24px;
                padding: 16px;
                border: 1px solid #572EE5;
                opacity: 1;
                position: unset;
            }
            .btnBack:hover {
                background-image: url('./img/Button-Slider-left-hover.svg');
                background-repeat: no-repeat;
                background-position: 3px;
                background-size: 100%;
                border: 0;
            }
            .btnNext:hover {
                background-image: url('./img/Button-Slider-right-hover.svg');
                background-repeat: no-repeat;
                background-position: 3px;
                background-size: 100%;
                border: 0;
            }
        }
    }
}